streamlit
requests
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
chromadb
pypdf
sentence-transformers
faiss-cpu
fastapi
uvicorn
python-dotenv
tiktoken
protobuf==3.20.3